{% extends 'base.html' %}

{% block title %}
{{ block.super}} - Recipe {% if add %}Add
	{% else %}"{{ object.title }}" edit{% endif %}
{% endblock %}

{% block content %}
{% if add %}
<h2>Add Recipe</h2>
{% url recipes_recipe_add as action_url %}
{% else %}
<h2>Recipe "{{ object.title }}" edit</h2>
{% url recipes_recipe_edit object.pk as action_url %}
{% endif %}
<form action="{{ action_url }}" method="post"  accept-charset="utf-8">
	{{ form.as_p }}
	{% csrf_token %}
	<p><input type='submit' value='Save'</p>
</form>
<a href="{% url recipes_recipe_index %}">Back to List</a>
{% endblock %}
